:root{
    --textColor:rgba(24, 25, 31, 1);
    --mainColor:rgba(76, 175, 79, 1);
    --titleColor:rgba(77, 77, 77, 1);
    --subtitleColor:rgba(113, 113, 113, 1);
    --backgroun:rgba(245, 247, 250, 1);
}